<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>indexHomeVideo</display-name>
    <servlet-name>indexHomeVideo</servlet-name>
    <servlet-class>main.indexHomeVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexHomeVideo</servlet-name>
    <url-pattern>/indexHomeVideo</url-pattern>
  </servlet-mapping>
  <display-name>asmJava4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>lohin</display-name>
    <servlet-name>lohin</servlet-name>
    <servlet-class>main.lohin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lohin</servlet-name>
    <url-pattern>/lohin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yeuthich</display-name>
    <servlet-name>yeuthich</servlet-name>
    <servlet-class>main.yeuthich</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yeuthich</servlet-name>
    <url-pattern>/yeuthich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>main.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testDeatail</display-name>
    <servlet-name>testDeatail</servlet-name>
    <servlet-class>main.testDeatail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testDeatail</servlet-name>
    <url-pattern>/testDeatail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testeditprofile</display-name>
    <servlet-name>testeditprofile</servlet-name>
    <servlet-class>main.testeditprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testeditprofile</servlet-name>
    <url-pattern>/testeditprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testvideo_managermetn</display-name>
    <servlet-name>testvideo_managermetn</servlet-name>
    <servlet-class>main.testvideo_managermetn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testvideo_managermetn</servlet-name>
    <url-pattern>/testvideo_managermetn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testmain</display-name>
    <servlet-name>testmain</servlet-name>
    <servlet-class>main.testmain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testmain</servlet-name>
    <url-pattern>/testmain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>main.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testUserman</display-name>
    <servlet-name>testUserman</servlet-name>
    <servlet-class>main.testUserman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testUserman</servlet-name>
    <url-pattern>/testUserman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testLike</display-name>
    <servlet-name>testLike</servlet-name>
    <servlet-class>main.testLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testLike</servlet-name>
    <url-pattern>/testLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a</display-name>
    <servlet-name>a</servlet-name>
    <servlet-class>main.a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
</web-app>